#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 10em;
  padding: 1.5em;
  will-change: filter;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 2s ease-in-out;
  }
}

.card {
  padding: 1em;
  display: flex;
  flex-direction: row;
  width: 20rem;
  justify-content: space-around;
  align-items: center;
}

.read-the-docs {
  color: #888;
}

.quantity {
  background-color: #000;
  border-radius: 10px;
  padding: 10px;
  filter: drop-shadow(0px 0px 5px navy );
  font-size: 38px;
  font-weight: bold;
}

.App {
  padding: 2rem;
  border: solid 1px;
  border-radius: 1rem;
}

.plus {
  width: 150px;
  height: 100px;
  font-size: 38px;
  font-weight: bold;
}
